# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Environment files
.env
.env.local

# Build output
frontend/build/
backend/build/

# System files
.DS_Store

# Editor settings
.vscode/
.idea/
